.Tablerate-Rules{
    /* padding-top: 14px; */
    border: 1px solid black;
    padding: 10px;
    border-radius: 18px;
}
.Tablerate-Rules .table-rate-top{
    display: flex;
    justify-content: space-between;
    background-color: rgba(33, 40, 50, 0.03);
    padding: 15px;
}
.Tablerate-Rules .table-rate-top .table-rate-buttons{
    display: flex;  
    column-gap: 30px;
}
.Tablerate-Rules .table-rate-popup{
    display: flex;
    justify-content:space-between;
    background-color: rgba(33, 40, 50, 0.03);
    padding: 12px;
   
}
.Tablerate-Rules .table-rate-popup .tableratebutton {
    display: flex;
    gap: 10px;
  
  }
  